@model PoemTown.Service.BusinessModels.ViewTemplateModels.EmailForgotPassword

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<body>
<h2></h2>
<p>Dear @Model.Email,</p>
<p>Please click the button to reset your password</p>
<a href="https://poemtown.nodfeather.win/forgot-password?email=@Model.Email&token=@Model.ResetPasswordToken&timestamp=@Model.ExpiredTimeStamp"
   class="btn-reset">Reset Password</a>
<br/>
@*<a href="http://localhost:3000/forgot-password?email=@Model.Email&token=@Model.ResetPasswordToken&timestamp=@Model.ExpiredTimeStamp"
   class="btn-reset">Reset Password link localhost:3000 cua taboo ne</a>*@
<p>Thank you,</p>
<p>Your Company</p>
</body>
<div>
</div>
</html>